body {
    overflow-x: hidden;
}

.result-container {
    overflow-wrap: break-word;
}

.search-bar {
    padding-top: 200px;
}

.url {
    color: #1c699d;
    font-size: 14px;
    overflow: hidden;
}

.description {
    font-size: 14px;
}

.slider.slider-horizontal {
    min-width: 98%;
}

.select2-container {
    min-width: 100%;
}

.error_image {
    max-width: 80%;
    max-height: 50%;
}

.error_container {
    position: relative;
}

.product-image {
    width: 100%;
}

.offers-container {
    clear: both;
    padding-top: 20px;
    text-align: center;
}

.offer-image {
    height: 100px;
    margin-right: 15px;

}

.error_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
}

.logo {
    max-width: 20vw;
    display: block;
    margin: 20px auto;
}
